.form{
    display: flex;
    width: 100%;
    align-items: center;
    height:400px;
    justify-content: center;
    background-color: #75C2F6;
    
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}
.inputDivs{
    margin: 2%;
}
.labels{
    display: flex;
    flex-direction: column;
    width: 10%;
}
.label{
    margin: 7%;
}
.checkboxes{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
}
.checkcontainer{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 70%;
}
.title{
    text-align: center;
}
.submit{
    display: flex;
    justify-content: center;
    
}
.falseValidation{
    border-color: red;
    color: red;
}
.trueValidation{
   
    border-color: green;
}
.buttonForm{
    background-color: #328d3a; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    color: black;
    width: 180px;
}
.bottom{
    background-color: #75C2F6;
    height: 100vh;
    
}

